/**************** Tela Home ******************/

.corpinhodapagina {
  background-color: #F1DFCD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topo {
  background: linear-gradient(to bottom, #eda9b1, #F1DFCD);
  width: 100%;
  padding-top: 180px;

}

.testandoalgo {
  position: fixed !important;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%; 
  align-items: start;
  padding: 20px 40px; 
  z-index: 1000;
}

.direcaoteladecadastro{
      border-radius: 24px;
      border: none;
      padding: 15px;
      background-color: #fffcfa; 
      font-size: 16px; 
      transition: background-color 0.10s ease, color 0.10s ease;
      cursor: pointer; 


      &:hover{ 
      background-color: #ee7987; 
      color: rgb(255, 255, 255);
      
    
    }

  }

  .textcadast{
    font-family: monospace !important;
    color: #f3acb4 ;
    transition: background-color 0.10s ease, color 0.10s ease;

    &:hover{ 
      
      color: rgb(255, 255, 255);
    
    }
  }



.menuopcoes {
  display: flex;
  justify-content: center;
  
}

.navega {
  font-family: monospace;
  color: #e78f99;
  background-color: #ffffffc3;
  border-radius: 20px;
  margin-left: 25px;
  cursor: pointer;
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 10px;


  &:hover{
    color: #ffffff;
    background-color: #ee7987;
    transition: all 800ms;
    
  }
  
}


.logininicioelogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.colunadalogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.coluna {
  background-color: white;
  margin-right: 0%;
  padding: 60px;
  border-radius: 30px;
  justify-content: center !important;
  align-items: center !important;

}

.coluna input {
  background-color: #d895a2 !important;
  color: #fffcfa !important;
  font-size: 15px !important;
  font-family: monospace !important;
  border-radius: 10px !important;
  border: 2px solid #ffffff !important;
}

.coluna input::placeholder {
  color: #fffcfa !important;
  opacity: 1 !important;
  font-family: monospace !important;
}



.coluna p{
  font-size: 16px !important;
  font-family: monospace !important;
  margin-bottom: 0%;
}


.logo1 {
  background-image: url("../public/Logofigmasemfundo.jpg");
  height: 300px;
  width: 300px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -999999em;
}

.corpinhodapagina p {
  font-family: monospace;
  color: #E78F99;
  font-size: 17px;
}

.corpinhodapagina h1 {
  font-family: monospace;
  color: #E78F99;
  font-size: 30px;
}

.corpinhodapagina h2 {
  font-family: monospace;
  color: #E78F99;
  font-size: 30px;
}

.pi {
  color: #fffcfa !important;
  font-family: monospace;
  justify-content: center;
  font-size: 18px !important;
  padding: 100px;
}

.coluna button {
  background-color: #E78F99 !important;
  color: #fff !important;
  border: none;
  margin-bottom: 10px !important;
}


.produtinhos, .produtinhoss, .produtinhosss {
  background-color: #F1DFCD !important;
  border: 2px solid #E78F99 !important;
  border-radius: 200px !important;
  padding-left: 50px;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  
}

.chamando{
  padding: 40px;
}

.desenhos {
  background-image: url("../public/papeldatelainicial.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center; 

  image-rendering: crisp-edges; 
  image-rendering: pixelated;
  animation: fadeIn s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.produto {
  background-color: #E78F99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 10px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 20px;
  animation: fadeOut 1s ease-in-out forwards;
  z-index: 1;
  margin-bottom: 40px;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.assinatura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px;
  margin-top: 0 !important;
}

.tituloassinaturas {
  font-size: 60px !important;
}

.atexto {
  color: #E78F99 !important;
  font-size: 20px;
  font-family: monospace;
  justify-content: center;
  font-size: 18px !important;
  padding: 50px;
}

.planomensall, .planoanual {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 25px;
  width: 100% !important;
}



.planos{
  padding-bottom: 15px;
}

.Esqueceu {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

.rodapeFixo{
  background-color: #ebadb4;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%; 
  align-items: start;
  padding-bottom: 5px;
  z-index: 1000;
  animation: fadeOut 1s ease-in-out forwards;
  z-index: 1;
  margin-bottom: 40px;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.redesSociais{
  display: flex;
  margin-left: 25px;
}

.instagram{
  background-image: url("../public/instagram.png");
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-top: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  transition: transform 0.3s ease; 
}

.instagram:hover {
  transform: rotate(360deg); 
}

.githubWeb{
  background-image: url("../public/github.png");
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-top: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  transition: transform 0.3s ease; 
}

.githubWeb:hover {
  transform: rotate(30deg); 
}

.githubApi{
  background-image: url("../public/github.png");
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-top: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease; 
}

.githubApi:hover {
  transform: rotate(180deg); 
}

.paragrafo{
  font-family: cursive;
  color: #ffffff;
  margin-top: 15px;
}

.devsSite {
  background-color: #e88c97 !important;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff !important;
  height: 40px;
  width: 40px;
  margin-right: 25px;
  padding: 5px;
  border: none;
  transition: transform 0.3s ease; 
}

.devsSite:hover {
  transform: rotate(30deg); 
  background-color: #fcfbfb !important;
  color: #E78F99 !important;
}





  /******************* Corpo da Tela de Cadastro *****************/

.corpinhodocadastro{
  background-color: #F1DFCD;
  background-image: url("../public/papeldatelainicial.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center; 
  image-rendering: crisp-edges; 
  image-rendering: pixelated;
  animation: fadeIn s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; 
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerbranco {
  text-align: center; 
  background-color: #fff;
  padding: 70px;
  border-radius: 15px;
}

.containerbranco h2 {
  font-family: monospace !important;
  color: #E78F99;
  font-size: 30px;
}

.containerbranco input{
  background-color: #d895a2 !important;
  color: #ffffff !important;
  font-size: 15px !important;
  font-family: monospace !important;
  border-radius: 10px !important;
  border: 2px solid #ffffff !important;
  margin-top: 0;
  width: 100% !important; 
  height: 40px;  
  padding: 10px; 
}

.containerbranco p{
  margin-bottom: 0;
  margin-top: 20px;
  align-items: left;
  font-family: monospace;
  color: #d895a2;
}

.containerbranco button {
  background-color: #E78F99 !important;
  color: #fff !important;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: #f8e2e5 !important;
    color: #E78F99 !important;
  }

}

.botoesdenaveg {
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 0%;

}

.botaoentrar{
  margin-right: 50px !important;
}

.loading-spinner {
  border: 4px solid #d895a2(0, 0, 0, 0.1);
  border-left-color: #d895a2;
  color: #d895a2;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



  /******************* Corpo da Home *****************/


  .homeUsuario {
    background-color: #F1DFCD;
    background-image: url("../public/papeldatelainicial.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center; 
    image-rendering: crisp-edges; 
    image-rendering: pixelated;
    animation: fadeIn s ease-in-out forwards;
    display: block !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; 
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }

  }

  .rodapedoperfil {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 8px;
    width: 100% ;
    background-color: #ebadb4;
  }
  

  .gradescolun{
    width: 100% !important;
  }

  
  

  .botoesderota{
    width: 100%;
    display: block !important;
    align-items: center !important;
    padding: 50px;

  }

  .botoesderota button {
    display: block !important;
    align-items: center !important;
    margin: 10px auto;
    margin-top: 35px !important;
    border-radius: 24px;
    border: none;
    padding: 30px;
    background-color: #fffcfa;
    color: #f3acb4;
    font-size: 30px;
    transition: background-color 0.10s ease, color 0.10s ease, transform 0.3s ease-out;
    cursor: pointer;
    font-family: monospace !important;
}

.botoesderota button:hover {
    background-color: #ee7987;
    color: rgb(255, 255, 255);
    transform: translateY(-20px); /* Move o botão 10px para cima (efeito de pulo) */
}

  .listaPedidos {
    padding: 20px;
    background-color: #fff5f7; /* Fundo suave para a tabela */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-right: 30px;
    margin-top: 30px;
  }


  
  .listaPedidos .selectdata {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #fc5165; 
  }

  .selectdata:active{
    background-color: #d895a2;
    color: #f8e2e5;
    border: 1px solid #fc5165;

  }
  
  .listaPedidos .ui.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .listaPedidos .ui.table th, .listaPedidos .ui.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f3acb4; 
  }
  
  .listaPedidos .ui.table th {
    background-color: #f3acb4; 
    color: white;
  }
  
  .listaPedidos .ui.table tbody tr:hover {
    background-color: #fce4ec;
  }
  
  .listaPedidos .ui.table .ui.button {
    background-color: transparent;
    color: #f3acb4;
    border: 1px solid #f3acb4;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .listaPedidos .ui.table .ui.button:hover {
    background-color: #f3acb4;
    color: white;
  }

  .linkPedidos{
    color: #fc5165;
  }

  .linkPedidos:active{
    color: #e78f99;
  }
  




  /******************* Corpo da tela de cadastro de materiais *****************/




    /******************* Corpo da Tela de Listagem de Cliente *****************/

    .containerPrincipalCliente {

      background-color: #F1DFCD;
      background-image: url("../public/papeldatelainicial.png");
      background-repeat: repeat;
      background-size: cover;
      background-position: center; 
      image-rendering: crisp-edges; 
      image-rendering: pixelated;
      animation: fadeIn s ease-in-out forwards;
      display: block !important;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%; 
      animation: fadeIn 1s ease-in-out forwards;
    }

    /******************* Corpo da Tela de Pedidos *****************/

    .corpinhodapaginape {
      background-color: #F1DFCD;
      background-image: url("../public/papeldatelainicial.png");
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: center;
      align-items: center;
      width: 100%; 
      animation: fadeIn 1s ease-in-out forwards;
    }

    .containerbrancope h1 {
      font-family: monospace !important;
      color: #E78F99; 
    }

    .containerbrancope {
      text-align: center; 
      background-color: #fff;
      padding: 40px;
      border-radius: 15px;
      margin-top: 25px !important;
      margin-bottom: 25px !important;
    }
    
    .containerbrancope h2 {
      font-family: monospace !important;
      color: #E78F99;
      font-size: 30px;
    }
    
    .containerbrancope input{
      background-color: #d895a2 !important;
      color: #ffffff !important;
      font-size: 15px !important;
      font-family: monospace !important;
      border-radius: 10px !important;
      border: 2px solid #ffffff !important;
      margin-top: 0;
      width: 100% !important; 
      height: 40px;  
      padding: 10px; 
    }
    
    .containerbrancope p{
      margin-bottom: 0;
      margin-top: 20px;
      align-items: left;
      font-family: monospace;
      color: #d895a2;
    }
    
    .containerbrancope button {
      background-color: #E78F99 !important;
      color: #fff !important;
      border: none;
      cursor: pointer;
      justify-content: space-around !important;
      margin-right: 25px !important;
      padding: 15px !important;
    
      &:hover{
        background-color: #f8e2e5 !important;
        color: #E78F99 !important;
      }
    
    }

    .quantidade{
      display: flex;
      margin-top: 15px;
    }

    .botaoConf{
      border-radius: 20px !important;
    }

    .inputquant {
      margin-right: 20px !important;
    }

        /******************* Corpo da Tela de Materiais *****************/

        .corpinhodapaginama {
          background-color: #F1DFCD;
          background-image: url("../public/papeldatelainicial.png");
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          justify-content: center;
          align-items: center;
          height: 100vh;
          width: 100%; 
          animation: fadeIn 1s ease-in-out forwards;
        }

            /******************* Home, Form de Data *****************/

            
.selectdata{
 padding: px !important;
 background-color: #d895a200;
 border-radius: 0%;
 border: #d895a200;
 color: #E78F99;
 font-family: cursive;
 font-size: 20px;
 margin: 20px;
}

/*.listaPedidos{
 background-color: #fff;
 margin-right: 20px;
 display: flex;
 align-items: center;
 
}

.listaPedidos table {
  background-color: #fffcfa00;
} */
