
.corpinhodapagina {
  background-color: #F1DFCD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  padding: 0; 
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: linear-gradient(to bottom, #eda9b1, #F1DFCD);
  width: 100%; 
  padding: 20px 40px; 
}

.direcaoteladecadastro{
      border-radius: 24px;
      border: none;
      padding:15px;
      background-color: #fffcfa; 
      font-size: 16px; 
      transition: background-color 0.10s ease, color 0.10s ease;
      cursor: pointer; 

      &:hover{ 
      background-color: #ee7987; 
      color: rgb(255, 255, 255);
      
    
    }

  }

  .textcadast{
    font-family: monospace !important;
    color: #f3acb4 ;
    transition: background-color 0.10s ease, color 0.10s ease;

    &:hover{ 
      
      color: rgb(255, 255, 255);
    
    }
  }



.menuopcoes {
  display: flex;
  justify-content: center;

  
  
}

.navega {
  font-family: monospace;
  color: #e78f99;
  background-color: #ffffffc3;
  border-radius: 20px;
  margin-left: 25px;
  cursor: pointer;
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 10px;


  &:hover{
    color: #ffffff;
    background-color: #ee7987;
    transition: all 800ms;
    
  }
  
}


.logininicioelogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.colunadalogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coluna {
  margin-top: 30px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.886);
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  border-radius: 25px;
}

.coluna input {
  background-color: #d895a2 !important;
  color: #fffcfa !important;
  font-size: 15px !important;
  font-family: monospace !important;
  border-radius: 10px !important;
  border: 2px solid #ffffff !important;
}

.coluna input::placeholder {
  color: #fffcfa !important;
  opacity: 1 !important;
  font-family: monospace !important;
}

.Esqueceu{
  margin-bottom: 30px !important;
  font-size: 10px !important;
}

.coluna p{
  font-size: 16px !important;
  font-family: monospace !important;
  margin-bottom: 0%;
}






.logo1 {
  background-image: url("../public/Logofigmasemfundo.jpg");
  height: 300px;
  width: 300px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -999999em;
}

.corpinhodapagina p {
  font-family: monospace !important;
  color: #E78F99;
  font-size: 17px;
}

.corpinhodapagina h1 {
  font-family: monospace !important;
  color: #E78F99;
  font-size: 30px;
}

.corpinhodapagina h2 {
  font-family: monospace !important;
  color: #E78F99;
  font-size: 30px;
}

.pi, .atexto {
  font-size: 20px;
  font-family: monospace;
  font-size: 22px !important;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.rodape {
  background-color: #e78f999c;
}

.coluna button {
  background-color: #E78F99 !important;
  color: #fff !important;
  border: none;
  margin-bottom: 10px !important;
}

.ph, .tituloassinaturas {
  
  font-size: 45px !important;
  padding-bottom: 20px;
  padding-right: 20px;
}


.produtinhos, .produtinhoss, .produtinhosss {
  background-color: #F1DFCD !important;
  border: 2px solid #E78F99 !important;
  border-radius: 200px !important;
  padding-left: 50px;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  
}

.produto, .assinatura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.planomensall, .planoanual {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 330px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.planoanual {
  margin-left: 50px;
}

.planos{
  padding-bottom: 15px;
}

.corpinhodocadastro{
  background-color: #E78F99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; 
}

.containerbranco {
  text-align: center; 
  background-color: #fff;
  padding: 50px;
  border-radius: 15px;
}

